<!DOCTYPE html>
<html>
<head>
  <title>Lizzie's world</title>
  <link rel="stylesheet" type="text/css" href="application.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<ul>
		<li> <%= link_to "twitter", "https://twitter.com/tinlizzieb" %> </li>
		<li> <%= link_to "linkedin", "https://www.linkedin.com/in/lizziebourque" %> </li>
		<li> <%= link_to "github", "https://github.com/tinlizzieb" %>
    </li>
	</ul>

<%= link_to "make a dope post bro", posts_path %>

</body>
</html>
